.navbar {
    background-color: #007bff;
    padding: 10px 20px;
}
  
.navbar .navbar-brand {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5em;
}
  
.navbar .navbar-brand:hover {
    color: #e9ecef;
}
  
.navbar .navbar-nav .nav-link {
    color: #ffffff; 
    font-size: 1.1em;
    margin-right: 15px;
}
  
.navbar .navbar-nav .nav-link:hover {
    color: #e9ecef; 
}
  
.navbar .navbar-nav .nav-link.active {
    font-weight: bold;
    color: #e9ecef; 
}
  
.navbar-toggler {
    border-color: #ffffff; 
}
  
.navbar-toggler-icon {
    color: #ffffff; 
}
  
@media (max-width: 992px) {
    .navbar-nav {
      text-align: center;
    }
}
  
html {
    scroll-behavior: smooth;
}

.navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

body{
	background-color:#F8F8F8!important;
}

#profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
    text-align: center;
}

#profile-pic {
    width: 100%;
    max-width: 150px; 
    height: auto;
    border-radius: 50%;
}


ul{
	padding: 0;
    list-style-type: none;
}


.social-links ul, li{
	list-style-type:none;
	display: inline-block;
}

.social{
	width:20px;
	height: 20px;
}


.experience-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.company-logo {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 10%;
}

.experience-details {
    flex: 1;
}

.job-title {
    font-weight: bold;
    font-size: 1.1em;
}

.company-name,
.employment-dates,
.location {
    font-size: 0.9em;
    color: #666;
}

.responsibilities-title {
    margin-top: 10px;
    font-weight: bold;
}

.responsibilities {
    list-style-type: disc;
    padding-left: 15px;
}

.education-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.school-logo {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 10%;
}

.education-details {
    flex: 1;
}

.school-name {
    font-weight: bold;
    font-size: 1.1em;
}

.education-item a {
    color: black;
}

.education-dates,
.qualification {
    font-size: 0.9em;
    color: #666;
}

.certification-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.certification-logo {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 10%;
}

.certification-details {
    flex: 1;
}

.certification-title {
    font-weight: bold;
    font-size: 1.1em;
}

.certification-title a {
    color: black; 
    text-decoration: none; 
}


.issuer-name,
.issued-date,
.credential-id {
    font-size: 0.9em;
    color: #666;
}

.skill-row {
    display: flex;
    flex-wrap: wrap;
}

.skill-badge {
    text-align: center;
    margin-bottom: 10px;
}

.skill-badge img {
    width: 100%;
    max-width: 100%;
    height: auto;
}